
src/TatBlog.Data/obj/Debug/net7.0/TatBlog.Data.csproj.AssemblyReference.cache
src/TatBlog.Services/obj/Debug/net7.0/TatBlog.Services.csproj.AssemblyReference.cache
src/TatBlog.WinApp/obj/Debug/net7.0/TatBlog.WinApp.csproj.AssemblyReference.cache
