<div class="my-4">
    <!-- Form tìm kiếm -->
    <partial name="_SearchForm" />

    <!-- Các chuyên mục/chủ đề -->
    @await Component.InvokeAsync("CategoriesWidget")

    <!-- Top bài viết nổi bật -->
    @await Component.InvokeAsync("FeaturedPostsWidget")

    <!-- Đăng ký nhận tin mới -->
    <h1>
        Đăng ký nhận tin mới
    </h1>

    <!-- Tag cloud -->
    @await Component.InvokeAsync("TagsWidget")
</div>